<div class="form-entry">
  <div class="form-group">
    <div class="form-fields">
      <input type="text" name="includes[{{ index }}]" value="{{ path }}" data-dtype="String" />
    </div>
  </div>
</div>
