<div class="form-entry">
  <div class="form-group">
    <div class="form-fields">
      <input type="text" name="deprecated.alternatives[{{ index }}].name" value="{{ alternative.name }}" data-dtype="String" />
      <input type="text" name="deprecated.alternatives[{{ index }}].manifest" value="{{ alternative.manifest }}" data-dtype="String" />
    </div>
  </div>
</div>
